<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="QuanLyShopQuanAo" connectionString="Data Source=.;&#xD;&#xA;                           Initial Catalog=QuanLyCuaHangQuanAo;&#xD;&#xA;                           Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuanLyShopQuanAo.Properties.Settings.QuanLyCuaHangQuanAoConnectionString"
   connectionString="Data Source=TUANKIET;Initial Catalog=QuanLyCuaHangQuanAo;User ID=sa;Password=17092006;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
